*{
	box-sizing: border-box;
	font-family: Poppins;
}
body {
	width: 100%;
	height: 100vh;

	color: white;
	background-color: black;

	margin: 0;
}
a {
	text-decoration: none;
	color: white;
}
/*HEADER SECTION*/
#header {
	height: 700px; 
	
	background-image: url(Assets/Images/Capture.PNG);
	background-size: 550px 550px;
	background-repeat: no-repeat;
	background-position-x: 720px;
	background-position-y: 80px;
	background-attachment: fixed;
}
#header .container nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#header .container nav img {
	margin-left: 50px;
	margin-top: 20px;
}
#header .container nav ul {
	display: flex;
	justify-content: space-around;
	flex-basis: 650px;
	margin-top: 30px;
	list-style: none;
	max-height: fit-content;
}
#header .container nav ul li {
	cursor: pointer;
	max-height: fit-content;
	font-weight: 200;
	font-size: 20px;
}
#header .container nav ul li::after {
	content: "";
	height: 4px;
	width: 0%;
	background-color: red;
	display: block;
}
#header .container nav ul li:hover::after {
	width: 100%;
	transition: 0.3s;
}
#header .Introduction {
	margin: 0;
	margin-left: 120px;

	font-size: 35px;
	font-weight: 800;
}
#header .name {
	color: red;
}
.role {
	margin-bottom: -5px;
	margin-top: 100px;
	margin-left: 80px;

	font-size: 25px;
	font-weight: 200;
}


/*------------about section------------*/
#about .container {
	height: 650px;
	width: 100%;
	padding:50px 100px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header {
	font-size: 50px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
}

.row {
	width: 100%;
	max-height: 100%;
	display: flex;
	column-gap: 20px;
}
.row .left-column{
	min-width: 45%;
}
#about .left-column .img-container {
	display: flex;
	justify-content: flex-start;
	align-items: top;
}
#about .left-column img {
	object-fit: cover;
	height: 400px;
}

.row .right-column {
	width: 100%;
	min-width: 50%;
	padding-top: 20px;
}
#about nav ul {
	display: flex;
	list-style: none;
	padding: 0;
}
#about .info-link {
	margin-right: 40px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 200;
}
#about .info-link::after {
	content: "";
	height: 4px;
	width: 0%;
	background-color: red;
	display: block;
}
#about .info-link:hover::after {
	width: 50%;
	transition: 0.3s;
}

.hide {
	display: none;
}
.show {
	display: initial;
}
#about  .selected::after {
	content: "";
	height: 4px;
	width: 50%;
	background-color: red;
	display: block;
}

#about .info-section span {
	font-size: 20px;
	color: red;
	font-weight: 600;
}
#about .info-section p {
	font-weight: 200;
	font-size: medium;
}

/*-----------Projects section--------------*/
#projects {
	height: 650px;
}
#projects .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 100px;
	height: 100%;
}
#projects .grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	gap: 20px;
}
#projects .project-priv {
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
#projects img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#projects .text-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;

	transition: height 0.3s ease, opacity 0.3s ease;
	background: linear-gradient(to top, black, transparent);

}
#projects .project-priv:hover .text-layer {
	height: 100%;
	opacity: 1;
}
#projects .text-layer .text{
	color: white;
	font-size: 20px;
	font-weight: 200;
	line-height: 25px;
	width: 75%;
	font-family: poppins;
}
#projects .text-layer h1 {
	font-size: 20px;
	background-color: black;
	font-weight: 700;	
	margin: 0;
	padding: 5px 25px;
	border-radius: 10px;
	border: 1px solid red;
}

/*---------Services section--------------*/
#services {
	width: 100%;
	height: 650px;
	display: flex;
	align-items: center;
}
#services .container {
	width: inherit;
	padding: 50px 100px;
	display: flex;
	flex-direction: column;
}
.services-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
}
#services .service {
	background-color: gray;
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	border-radius: 20px;
}
#services .service h2 {
	text-align: center;
	margin: 0;
	color: white;
}
#services .service p {
	text-wrap: wrap;
	margin: 0;
	padding: 20px;
	text-align: center;
}
.service .services-icon{
	width: 50px;
	height: 50px;
	padding: 10px 0 0 10px;
}
#services .service .service-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgb(202, 3, 3);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;

	transition: 0.3s;

}
.service-layer .img-container{
	padding: 10px;
	border-radius: 50%;
	background-color: aliceblue;
}
.service-layer .learn-more{
	height: 30px;
	width: 30px;
}
#services .service:hover .service-layer {
	opacity: 1;
	transform: translateY(-20px);
}
#services .service:hover {
	transform: translateY(-20px);
	transition: 0.4s;
}

/*------------------Contact me---------------*/
#contact-me {
	width: 100%;
	height: 650px;
}
#contact-me .container {
	width: inherit;
	max-height: inherit;

	padding: 150px;
}
#contact-me .row {
	display: flex;
}

#contact-me .row .column1 {
	flex-basis: 50%;
}
.phone, .email, .social-media {
	display: flex;
	color: white;
	font-size: 20px;
	font-weight: 200;
	align-items: center;
	margin-bottom: 5px;
}
.icon {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	margin-right: 10px;
	border: 2px solid white;
	transition: 0.3s;
	cursor: pointer;
}
.icon.email:hover {
	background-color: red;
	border: 2px solid red;
	transform: translateY(-10px);
}
.icon.phone:hover {
	background-color: green;
	border: 2px solid green;
	transform: translateY(-10px);
}

.social-media {
	margin-top: 20px;
	display: flex;
}
.social-media .icon {
	position: relative;
	margin-right: 20px;
}
.icon.facebook:hover {
	background-color: blue;
	border: 2px solid blue;
	transform: translateY(-10px);
}
.icon.linkedin:hover {
	background-color: rgb(33, 155, 255);
	border: 2px solid rgb(33, 155, 255);
	transform: translateY(-10px);
}
.icon.twitter:hover {
	background-color: white;
	border: 2px solid white;
	transform: translateY(-10px);
}
.icon.telegram:hover {
	background-color: rgb(33, 155, 255);
	border: 2px solid rgb(33, 155, 255);
	transform: translateY(-10px);
}	

#contact-me .column2 {
	width: 50%;
}
.column2 h2 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 10px;
}
label {
	display: block;
	margin-bottom: 20px;
}
input, textarea {
	width: 100%;
	border: none;
	border-radius: 4px;
	padding: 3px;
}
textarea {
	padding: 10px;
	height: 60px;
}

@media (max-width: 800px) {
	html {
		overflow-x: hidden;
	}
	#header {
		background-image: none;
		height: auto;
	}
	#header .container {
		height: auto;
	}
	#header .container nav {
		flex-direction: column;
	}
	.logo-div {
		display: flex;
		justify-content: center;
	}
	#header .container nav img {
		max-width: fit-content;
	}
	#header .container nav ul {
		justify-content: space-evenly;
	}
	#header .Introduction {
		max-width: fit-content;
		margin: 0 auto;
		font-size: 50px;
	}
	#header .role {
		margin-left: -40px;
		max-width: fit-content;
		font-size: 40px;
	}
	#header .introduction-div {
		min-width: fit-content;
		max-width: fit-content;
		margin: 100px auto;
	}
	#header .container{
		padding: 2px;
	}

/*----------about me----------*/
	#about .container {
		height: auto;
	}
	#about .header {
		text-align: center;
	}
	#about .row {
		display: flex;
		flex-direction: column;
	}
	#about .left-column{
		width: 100%;
	}
	#about .left-column .img-container{
		justify-content: center;
	}
	#about .left-column img {
		height: auto;
	}

	#about .right-column {
		width: 100%;
	}
	#about nav ul {
		font-size: 20px;
	}
} 
