*{
	box-sizing: border-box;
	font-family: Poppins;
}
body {
	width: 100%;
	height: 100vh;

	color: white;
	background-color: black;

	margin: 0;
}

/*HEADER SECTION*/
#header {
	height: 700px; 
	
	background-image: url(Assets/Images/Capture.PNG);
	background-size: 550px 550px;
	background-repeat: no-repeat;
	background-position-x: 720px;
	background-position-y: 80px;
	background-attachment: fixed;
}
#header .container nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
#header .container nav img {
	margin-left: 50px;
	margin-top: 20px;
}
#header .container nav ul {
	display: flex;
	justify-content: space-around;
	flex-basis: 650px;
	margin-top: 30px;
	list-style: none;
	max-height: fit-content;
}
#header .container nav ul li {
	cursor: pointer;
	max-height: fit-content;
}
#header .container nav ul li::after {
	content: "";
	height: 4px;
	width: 0%;
	background-color: red;
	display: block;
}
#header .container nav ul li:hover::after {
	width: 100%;
	transition: 0.3s;
}
#header .Introduction {
	margin: 0;
	margin-left: 120px;

	font-size: 35px;
	font-weight: 800;
}
#header .name {
	color: red;
}
.role {
	margin-bottom: -5px;
	margin-top: 100px;
	margin-left: 80px;

	font-size: 25px;
	font-weight: 200;
}


/*------------about section------------*/
#about .container {
	height: 650px;
	width: 100%;
	padding:100px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header {
	font-size: 50px;
	font-weight: 800;
	margin: 0;
	margin-bottom: 20px;
}

.row {
	width: 100%;
	max-height: 100%;
	display: flex;
	column-gap: 20px;
}
.row .left-column{
	min-width: 50%;
}
#about .left-column .img-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: top;
}
#about .left-column img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.row .right-column {
	min-width: 50%;
	padding-top: 20px;
}
#about nav ul {
	display: flex;
	list-style: none;
	padding: 0;
}
#about .info-link {
	margin-right: 40px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 200;
}
#about .info-link::after {
	content: "";
	height: 4px;
	width: 0%;
	background-color: red;
	display: block;
}
#about .info-link:hover::after {
	width: 50%;
	transition: 0.3s;
}

.hide {
	display: none;
}
.show {
	display: initial;
}
#about  .selected::after {
	content: "";
	height: 4px;
	width: 50%;
	background-color: red;
	display: block;
}

#about .info-section span {
	font-size: 20px;
	color: red;
	font-weight: 600;
}
#about .info-section p {
	font-weight: 200;
	font-size: medium;
}

/*-----------Projects section--------------*/
#projects .container {
	height: 650px;
	width: 100%;
	padding: 50px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
#projects .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

#projects .grid .project-priv {
	display: flex;
	justify-content: center;
}

#projects img {
	width: 100%;
	height: 400px;
	object-fit:fill;
}